@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  color: #1B1B1F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@layer components {
  .btn-primary {
    @apply px-6 py-3 bg-primary text-white font-semibold rounded-sm hover:bg-blue-600 transition-colors cursor-pointer;
  }
  
  .btn-secondary {
    @apply px-6 py-3 bg-secondary text-antracyt font-semibold rounded-sm hover:bg-yellow-300 transition-colors cursor-pointer;
  }
  
  .btn-outline {
    @apply px-6 py-3 border-2 border-antracyt text-antracyt font-semibold rounded-sm hover:bg-light-gray transition-colors cursor-pointer;
  }
}
